* {
    box-sizing: border-box;
}

.gallery-img {
    display: none;
    max-height: 600px ;
}


.image-gallery {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
} 


.btns {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.btn {
    background-color: teal;
    color: white;
    font-size: 20px;
    padding: 5px 20px;
    border-color: transparent;
    border-radius: 5px;
    cursor: pointer;
}
.prev {
    margin-right: 15px;
}

.btn:disabled {
    background-color: grey;
    cursor: not-allowed;
}



img {
    height: 600px;
    width: 510px;
}

body {
    padding: 0;
    margin: 0;
}

.main-nav {
    background-color: black;
    color: white;
    margin: 0;
    font-family: arial;
    padding: 15px;
    z-index: 5;
    position : relative;
}

.brand {
    margin: 0;
    font-size: 50px;
    cursor: grab;
    cursor: -webkit-grab;
    z-index: 10;
}
.swiper-container {
  
    display: flex;
    align-items: stretch;
}

.square {
    position: relative;
    width: 300px;     
    height: 300px;
    overflow: hidden;
}

#homer1 {
    position: absolute;
     max-width: 100%;
     width: 100%;
     height: auto;
     top: 50%;     
     left: 50%;
     transform: translate( -50%, 0%);
}

img.homer1 {
    height: 100%;
    width: auto;
}
